<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
           you just reset the password, here is your new password  
    </p>
    <center><%= @randomcode %></center>

    <p>     If you really want to change the password, click this link

    <br>
    <br>
    <a href="<%= @host %>/resetPassword?e=<%= @username %>&c=<%= @code %>"><%= @host %>/resetPassword?e=<%= @username %>&c=<%= @code %></a>
    <br>
    <br>
    otherwise, just ignore this email 
    </p>
        sent from Qiscus
    </p>
  </body>
</html>
