<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @sender %> invite you to join Qiscus</h1>
    <p>
            <%= @message %>
    </p>
    <p>

    <p>
        sent from Qiscus
    </p>
  </body>
</html>
