<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @sender %> give a comment on Qiscus</h1>
    <p>
    <a href="<%= @host %>/site/room/<%= @code_encrypted %>?t=<%= @topic_id %>"><%= @code %></a> >> <%= @room_title %>
    </p>
    <p>
            <%= @message %>
    </p>
    <p>

    <p>
        sent from Qiscus
    </p>
  </body>
</html>
