<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @recipient %></h1>
    <p>
            please click the link below to activate your account <a href="<%= @host %>/activate/<%= @id %>?email=<%= @recipient %>"><%= @host %>/activate/<%= @id %>?email=<%= @recipient %></a>
    </p>
    <p>

    <p>
        sent from Qiscus
    </p>
  </body>
</html>
