<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Qiscus.com, </h1>
    <p>
      You have successfully signed up to Qiscus.com,
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
