<form action="/python/wordtokenize" method="post" accept-charset="utf-8">
<%= csrf_meta_tag %>
<textarea name="sentence" rows="8" cols="400" class="span8"></textarea>
<p><input type="submit" value="submit" class="btn btn-primary"></p>
</form>

<%= @text %>
