/* ********************************************************************** */
/* ************************** General HTML TAGs ************************* */
/* ********************************************************************** */


* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

@font-face {
	font-family: 'Gill-Sans';
	rc: url("fonts/Gill-Sans.ttf");
	src: local('☺'), 
		 url('fonts/Gill-Sans.woff') format('woff'), 
		 url('fonts/Gill-Sans.ttf') format('truetype'), 
		 url('fonts/Gill-Sans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gill-Sans-Bold';
	rc: url("fonts/Gill-Sans-Bold.ttf");
	src: local('☺'), 
		 url('fonts/Gill-Sans-Bold.woff') format('woff'), 
		 url('fonts/Gill-Sans-Bold.ttf') format('truetype'), 
		 url('fonts/Gill-Sans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, div, map, dt, isindex, form {  
    display: block;  
}

header, nav, article, footer, address, aside, section { display:block; }

html, 
body.inner, 
.inner #container { 
	height: 100%; 
}

body.inner > #container { 
	position:relative; 
}

ul, ol {
	list-style: none;
}

a {
	color:#008c45;
	text-decoration:none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4D4D4D;
	background:#FFF;
}

body.inner {
	background:#f6fcea;
}

body.inner.g-page,
body.inner.profile {
	background:#FFF;
}

input, 
textarea {
	font-family: 'Gill-Sans';
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	display: block;
	clear: both;
	float: none !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: 0px !important;
	border: none !important;
}

.wrapper {
	width:985px;
	margin:0 auto;
}

@media screen and (max-width: 1024px){

    .wrapper {
            width:785px;
            margin:0 auto;
    }
}

@media screen and (max-width: 786px){

    .wrapper {
            width:585px;
            margin:0 auto;
    }
}


@media screen and (max-width: 600px){

    .wrapper {
            width:305px;
            margin:0 auto;
    }
}


/* ********************************************************************** */
/* ***************************** Header CSS ***************************** */
/* ********************************************************************** */

#landing-nav {
	text-align:right;
	font-size:18px;
	padding-top:10px;
}

#landing-nav a {
	color:#4D4D4D;
	margin-right:7px;
}

#landing-nav a:hover {
	text-decoration:underline;
}

header#header {
	background:#FFF;
	padding:9px 0;
	overflow:hidden;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
	position:relative;
	z-index:99;
}

/* ********************************************************************** */
/* ************************* Landing Page CSS *************************** */
/* ********************************************************************** */

#landing {
	margin:122px auto 20px;
	width:480px;
	background:url('/images/bubble.png') center 0 no-repeat;
	padding-top:40px;
	min-height:227px;
}

#logo {
	display:block;
	width:137px;
	height:32px;
	background:url('/images/logo.png') 0 0 no-repeat;
	margin:0 auto 20px;
	text-indent:-5000px;
}

#landing p {
	font-family: 'Cutive', serif;
	color:#676767;
	font-size:20px;
	line-height:32px;
	text-align:center;
	display:none;
}

#landing .play {
	display:block;
	width:60px;
	height:61px;
	background:url('/images/play-btn.png') 0 0 no-repeat;
	margin:0 auto;
}

#register {
	transition:linear all 0.5s;
	-moz-transition:linear all 0.5s;
	-webkit-transition:linear all 0.5s;
	width:710px;
	margin:0 auto 30px;
	min-height:130px;
}

.register {
	display:block;
	width:360px;
	height:50px;
	line-height:50px;
	background:#b92700;
	color:#EFEFEF;
	font-family: 'Gill-Sans';
	font-weight:normal;
	font-size:36px;
	text-align:center;
	margin:45px auto;
}

.register strong {
	font-family: 'Gill-Sans-Bold';
	font-weight:normal;
}

/* ******************************* Register Form *************************** */

#register-form {
	font-family: 'Cutive', serif;
	overflow: hidden;
	display:none;
}

#register-form.visible {
	display:block;
}

#register-form h2 {
	margin-bottom:4px;
}

#register-form p {
	color:#676767;
	font-size:20px;
	line-height:26px;
	margin-bottom:22px;
}

#register-form label {
	display:block;
	float:left;
	color:#676767;
	font-size:17px;
	line-height:30px;
	margin-bottom:14px;
	width:208px;
}

#register-form input {
	display:block;
	float:left;
	margin-bottom:14px;
	background:#FFF;
	border:solid 1px #cccccc;
	width:498px;
	clear:right;
	height:28px;
	font-size:18px;
	line-height:28px;
}

#register-form button {
	display:block;
	float:right;
	margin-top:8px;
	background:#393a3a;
	border:solid 1px #000000;
	clear:both;
	height:30px;
	width:auto;
	padding:0 50px;
	cursor:pointer;
	color:#FFF;
	font-size:18px;
}

/* ******************************* Login Page *************************** */

#login {
	width:775px;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	margin:-170px 0 0 -390px;
}

#login #logo {
	width:289px;
	height:77px;
	margin-bottom:20px;
	background:url('/images/login-logo.png') 0 0 no-repeat;
}

#login p {
	font-family: 'Cutive', serif;
	color:#676767;
	font-size:20px;
	line-height:32px;
	text-align:center;
	margin-bottom:53px;
}

#login-form {
	overflow:hidden;
	width:496px;
	margin:0 auto;
}

#login-form label {
	font-family: 'Gill-Sans-Bold';
	font-size:25px;
	font-weight:normal;
	line-height:58px;
	width:133px;
	display:block;
	float:left;
}

#login-form input {
	width:205px;
	height:26px;
	border:solid 2px #cccccc;
	background:#FFF;
	line-height:26px;
	font-size:25px;
	padding:15px 17px;
	display:block;
	float:left;
	margin-right:20px;
	font-size:24px;
}

#login-form button {
	display:block;
	float:left;
	margin-top:9px;
	background:#393a3a;
	border:solid 1px #000000;
	height:44px;
	width:100px;
	cursor:pointer;
	color:#FFF;
	font-size:18px;
}

#header .home {
	display:block;
	float:left;
	font-size:38px;
	color:#000;
	line-height:35px;
}

#header .icon-settings,
#header .icon-reply  {
	display:block;
	float:right;
	font-size:38px;
	color:#000;
	line-height:35px;
}

.room #header .floatRight {
	margin-top:3px;
}

.room #header .floatRight span {
	display:block;
	line-height:32px;
	font-size:20px;
	color:#606060;
	float:left;
	margin-right:15px;
	font-family: 'Cutive', serif;
}

.room #header #logo,
.g-page #header #logo,
.profile #header #logo {
	float:left;
}

#type-area {
	background:#FFF;
	padding:10px 0;
	overflow:hidden;
	height:35px;
	box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25);
	margin-top:-55px;
	position: fixed;
 	z-index: 10;
}

#type-area span.user {
	display:block;
	float:left;
	border:2px solid #e7e7e7;
	height:30px;
	line-height:30px;
	padding:0 6px;
	width:210px;
	margin-right:10px;
	font-family: 'Gill-Sans-Bold';
	font-size:15px;
	text-align:right;
}

#type-area input {
	display:block;
	float:left;
	border:2px solid #e7e7e7;
	height:26px;
	line-height:28px;
	padding:2px 2px;
	width:726px;
	font-size:20px;
}

#comment {
        /*width: 600px;
        height: 25px;*/ 
}


@media screen and (max-width: 1024px){
    #comment {
            width: 500px; 
            height: 25px;
    }

    #type-area span.user {
            width:110px;
    }

}


@media screen and (max-width: 768px){
    #comment {
            width: 300px; 
            height: 25px;
    }
    #type-area span.user {
            width:50px;
    }

}

@media screen and (max-width: 600px){
    #comment {
            width: 100px; 
            height: 25px;
    }
    #type-area span.user {
            width:40px;
    }

}

#room {
	padding-top:10px;
	overflow:hidden;
}

#tabs .tabs-nav-container {
	background:#f7f6f8;
	box-shadow:0 .4px 4px rgba(0, 0, 0, 0.7) inset;
	-moz-box-shadow:0 .4px 4px rgba(0, 0, 0, 0.7) inset;
	-webkit-box-shadow:0 .4px 4px rgba(0, 0, 0, 0.7) inset;
}

#tabs ul.tabs-nav {
	display:none;
}

#tabs ul.tabs-nav.ui-tabs-nav {
	padding-top:7px;
	overflow:hidden;
	width:990px;
	margin:0 auto;
	display:block;
}

#tabs .ui-tabs-nav li {
	float:left;
	margin-right:6px;
	border:solid 2px #d3d3d4;
	border-bottom:none;
	height:33px;
	line-height:33px;
	margin-bottom:2px;
	position:relative;
}

#tabs .ui-tabs-nav li a {
	display:block;
	color:#201f1f;
	font-size:18px;
	padding:0 60px;
}

#tabs .ui-tabs-nav li.ui-state-active,
#tabs .ui-tabs-nav li.ui-state-hover {
	background:#F6FCEA;
	height:35px;
	line-height:35px;
	margin-bottom:0;
}

#tabs .ui-tabs-nav li .close-tab  {
	display:block;
	width:10px;
	height:10px;
	font-size:8px;
	line-height:10px;
	color:#201f1f;
	top:5px;
	right:5px;
	cursor:pointer;
	position:absolute;
}

.conversation {
	width:100%;
	float:left;
	margin-top:0;
}

@media screen and (max-width: 1024px){
    .conversation {
            width:730px;
            float:left;
            margin-top:30px;
    }

}


@media screen and (max-width: 768px){
    .conversation {
            width:530px;
            float:left;
            margin-top:30px;
    }

}

@media screen and (max-width: 600px){
    .conversation {
            width:300px;
            float:left;
            margin-top:30px;
    }

}

#sidebar {
	width:140px;
	float:right;
        position:fixed; 
        right: 100px;
}


@media screen and (max-width: 1024px){
#sidebar {
	width:140px;
	float:right;
        position:fixed; 
        right: 0px;
}

}


@media screen and (max-width: 768px){
#sidebar {
	width:140px;
	float:right;
        position:fixed; 
        right: 0px;
}

}

@media screen and (max-width: 600px){
#sidebar {
	width:140px;
	float:right;
        position:absolute; 
        right: -180px;
}

}

.conversation h1.message-title {
	font-size:37px;
	color:#000000;
	line-height:42px;
	margin-bottom:18px;
	font-weight:normal;
}

.conversation h1.message-title strong {
	font-family: 'Gill-Sans-Bold';
}

.conversation p.topline{
	font-size:22px;
	color:#000000;
	line-height:28px;
	margin:0 45px 18px;
}

.conversation .messages-list {
	margin-left:16px;
}

.conversation .messages-list li {
	overflow:hidden;
	margin-bottom:4px;
	border:solid 2px #dcdcdc;
	background:#faf9fc;
	padding:20px 20px 20px 14px;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	position:relative;
}

.conversation .messages-list li strong.user {
	text-align:left;
	width:170px;
	float:left;
	font-family: 'Gill-Sans-Bold';
	color:#000000;
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	margin-right:15px;
}

.conversation .messages-list li p {
	font-size:14px;
	line-height:16px;
	width:500px;
	float:left;
	color:#000;
}

.conversation .messages-list li span.remove {
	display:block;
	position:absolute;
	font-size:14px;
	color:#afadad;
	top:11px;
	right:11px;
	cursor:pointer;
}

#sidebar .bgcolor {
	margin-bottom:8px;
	background:#808080;
	padding:2px 2px 0;
	overflow:hidden;
	margin-top:10px;
}

#sidebar .bgcolor nav {
	float:left;
	width:52px;
	overflow:hidden;
}

#sidebar .bgcolor nav span {
	width:23px;
	height:23px;
	border:dashed 1px #808080;
	margin:0 1px 1px 0;
	cursor:pointer;
	float:left;
	display:block;
}

#sidebar .bgcolor nav span.color1 {
	background:#b0e67a;
}

#sidebar .bgcolor nav span.color2 {
	background:#fee7a9;
}

#sidebar .bgcolor nav span.color3 {
	background:#f6fcea;
}

#sidebar .bgcolor nav span.color4 {
	background:#bdbdbd;
}

#sidebar .bgcolor strong {
	color:#FFF;
	font-family: 'Gill-Sans-Bold';
	font-weight:normal;
	width:80px;
	text-align:center;
	font-size:24px;
	line-height:24px;
	display:block;
	float:left;
}

#sidebar .bgcolor strong span {
	display:block;
	font-family: 'Gill-Sans';
}

#sidebar .options {
	overflow:hidden;
	background:#ebebeb;
	padding:12px 0;
	text-align:center;
	color:#000;
	font-size:25px;
}

#sidebar .options span {
	margin:0 2px;
	cursor:pointer;
}

.scrollable {
	overflow:auto;
}

#left-sidebar {
	width:204px;
	float:left;
	position:relative;
}


@media screen and (max-width: 1024px){

    #left-sidebar {
            width:154px;
            float:left;
            position:relative;
    }
}


@media screen and (max-width: 768px){
    #left-sidebar {
            width:104px;
            float:left;
            position:relative;
    }
}

#left-sidebar .top-nav {
	margin-top:25px;
}

#left-sidebar .top-nav a {
	display:block;
	border:solid 2px #000000;
	background:#3a3a3b;
	color:#fafafa;
	text-align:center;
	line-height:46px;
	margin-bottom:8px;
	font-size:18px;
}

#left-sidebar .bottom-nav {
	position:absolute;
	left:0;
	bottom:10px;
}

#left-sidebar .bottom-nav a {
	color:#000000;
	font-size:19px;
	font-weight:bold;
	margin-left:35px;
}

#left-sidebar .user-img {
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border:solid 2px #f4f4f4;
	display:block;
	margin:20px auto;
}

#g-page-content {
	background:#c9c9c9;
	float:right;
	width:730px;
	overflow:auto;
}

@media screen and (max-width: 1024px){

    #g-page-content {
            background:#c9c9c9;
            float:right;
            width:580px;
            overflow:auto;
    }
}


@media screen and (max-width: 768px){

    #g-page-content {
            background:#c9c9c9;
            float:right;
            width:420px;
            overflow:auto;
    }
}

@media screen and (max-width: 600px){

    #g-page-content {
            background:#c9c9c9;
            float:right;
            width:180px;
            overflow:auto;
    }
}


#g-page-content .messages-list {
	margin:8px 0 0 36px;
}

#g-page-content .messages-list li {
	overflow:hidden;
	margin-bottom:4px;
	border:solid 2px #dcdcdc;
	background:#ffffff;
	padding:18px 10px 18px 20px;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	position:relative;
}

#g-page-content .messages-list li strong.user {
	width:78px;
	float:left;
	font-family: 'Gill-Sans-Bold';
	color:#000000;
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	margin-right:15px;
}

#g-page-content .messages-list li p {
	font-size:14px;
	line-height:16px;
	width:545px;
	float:left;
	color:#000;
}

#g-page-content.profile {
	background:#f7f7f7;	
}

#profile-form {
	margin:48px 7px 0 53px;
}

#profile-form p.fields {
	overflow:hidden;
	margin-bottom:13px;
}

#profile-form label {
	display:block;
	float:left;
	width:140px;
	margin-right:35px;
	line-height:29px;
	font-size:20px;
	text-align:right;
}

#profile-form input {
	width:476px;
	border:solid 2px #d6d6d6;
	background:#FFF;
	height:25px;
	line-height:25px;
	color:#000;
	text-indent:12px;
	font-size:18px;
	display:block;
	float:left;
	font-size:18px;
}

#profile-form input.short {
	width:130px;
}

#profile-form textarea {
	width:452px;
	height:95px;
	border:solid 2px #d6d6d6;
	background:#FFF;
	line-height:20px;
	padding:10px 12px;
	color:#000;
	font-size:18px;
	display:block;
	float:left;
}

#profile-form button {
	display:block;
	float:right;
	margin-left:10px;
	margin-top:45px;
	border:solid 2px #000000;
	background:#3a3a3b;
	color:#fafafa;
	text-align:center;
	height:46px;
	font-size:18px;
	padding:0 17px;
	cursor:pointer;
}

.ui-widget-overlay {
    background: #000;
    opacity: 0.4;
     height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.ui-dialog {
	background:#f6f7f9;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border:dashed 2px #a5a5a5;
	padding:30px;
	font-family: 'Cutive', serif;
	overflow: hidden;
	color:#606060
}

.ui-dialog .ui-dialog-titlebar {
	display:none;
}

.ui-dialog .logo {
	display:block;
	width:137px;
	height:32px;
	background:url('/images/logo.png') 0 0 no-repeat;
	margin:0 0 20px;
	text-indent:-5000px;
}

.ui-dialog.visible {
	display:block;
}

.ui-dialog h2 {
	margin-bottom:4px;
}

.ui-dialog p {
	color:#606060;
	font-size:20px;
	line-height:26px;
	margin-bottom:22px;
}

.ui-dialog form {
	margin-right:60px;
}

.ui-dialog label {
	display:block;
	float:left;
	color:#606060;
	font-size:17px;
	line-height:30px;
	margin-bottom:14px;
	width:208px;
}

.ui-dialog input {
	display:block;
	float:left;
	margin-bottom:14px;
	background:#FFF;
	border:solid 1px #cccccc;
	width:450px;
	clear:right;
	height:28px;
	font-size:18px;
	line-height:28px;
	background:#f6f6f9;
}

.ui-dialog button {
	display:block;
	float:right;
	margin-top:8px;
	background:#393a3a;
	border:solid 2px #000000;
	clear:both;
	height:36px;
	width:auto;
	width:125px;
	cursor:pointer;
	color:#FFF;
	font-size:22px;
	text-transform: uppercase;
}

.ui-dialog .separator {
	height:1px;
	background:#000;
	margin:20px 60px;
}

.ui-dialog .social {
	text-align:center;
}

.ui-dialog .social a {
	display:inline-block;
	width:71px;
	height:68px;
	margin:0 24px;
	background:url('/images/social-icons.png') 0 0 no-repeat;
}

.ui-dialog .social a.facebook {
	background-position:0 0;
}

.ui-dialog .social a.twitter {
	background-position:0 -68px;
}


/* ********************************************************************** */
/* ******************************* Footer CSS *************************** */
/* ********************************************************************** */

#footer {
	background:#f6fce9;
	overflow:hidden;
	padding:20px 0 50px;
	clear: both;
	 position: relative;
 	z-index: 10;
 	height: 62px;
}

.inner #footer {
	background:#FFF;
	padding:21px 0;
	overflow:hidden;
	height:35px;
	box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25);
	margin-top:-76px;
}

#footer ul{
	float:left;
	margin-right:63px;
}

#footer ul li strong {
	display:block;
	margin-bottom:8px;
	font-size:16px;
	color:#4D4D4D;
}

#footer ul li a {
	font-size:14px;
	color:#4D4D4D;
}



