@charset "utf-8";
/* CSS Document */

body {
    width:100%;
	height:100%;
	margin:0;
	overflow:hidden;
    line-height:normal;
}

#container {
	width:100%;
	height:100%;
	max-width:1280px;
	min-width:960px;
	margin: 0 auto;
	float:left;
}

#sectionTitle {
	width:100%;
	height:110px;
	background:url(/mockup/image/room/headertexture.png);
	background-repeat:repeat;
	float:left;
}

#titleText {
	margin: 35px 0px 35px 25px;
	color:#FFF;
	font-family:'HattoriHanzoLight';
	font-size: 49px;
	letter-spacing:1.96px;
	float:left;
	width:80%;
}

#roomLogo {
	float:right;
	margin:0px;
	height:100%;
	cursor:pointer;
}

#sectionDescription {
	float:left;
	width:25%;
	background-color:#3a854a;
	margin-top:5px;
}

#descriptionText {
	margin: 25px 20px 25px 25px;
	color:#FFF;
	font-family:'HattoriHanzoLight';
	
}

#roomDetails {
	font-size: 16px;
	letter-spacing:0.64px;
}

#DESCRIPTION {
	font-size:24px;
	letter-spacing:0.96px;
	text-transform:uppercase;
}

#roomDescription {
	font-size: 21px;
	letter-spacing:0.84px;
}

#roomButtons {
	float:left;
	width:80%;
	margin: 0 10% 0 10%;
}

.roomButton {
	float:left;
	width:31%;
	margin:0 1% 0 1%;
	cursor:pointer;
}

#sectionComments {
	float:left;
	width:50%;
	background:#FFF;
}

#roomComments {
	overflow-y:scroll;
	overflow-x:hidden;
	width:98%;
	margin:0 1% 0 1%;
	font-family:'verb_lightregular';
	font-size:18px;
	color:#575757;
	float:left;
}

.roomComment {
	width:100%;
	float:left;
	border-top-color:#e0e0e0;
	border-top-width:thin;
	border-top-style:solid;
	margin-bottom:18px;
	padding-top:5px;
}

.roomCommentHighlight {
	display:none;
	position:relative;
	top:-27px;
	left:100%;
	
	height:26px;
	width:25px;
	background:url(/mockup/image/room/hightlight-off.png);
	
	cursor:pointer;
}

.roomCommentHighlightON {
	display:block;
	position:relative;
	top:-27px;
	left:100%;
	
	height:26px;
	width:25px;
	background:url(/mockup/image/room/hightlight-on.png);
	
	cursor:pointer;
}

.roomCommentDelete {
	display:none;
	position:relative;
	top:-41px;
	left:370%;
	
	height:24px;
	width:68px;
	background:url(/mockup/image/room/delete-off.png);
	
	cursor:pointer;
}

.roomCommentHighlight:hover {
	background:url(/mockup/image/room/hightlight-on.png);
}

.roomCommentDelete:hover {
	background:url(/mockup/image/room/delete-on.png);
}

.roomCommentUser {
	float:left;
	width:23%;
	margin-right:2%;
	font-weight:bold;
	height:18px;
}

.roomCommentComment {
	float:left;
	width:75%;
    white-space:pre-wrap;
}

#inputBar {
	width:98%;
	float:left;
	border-top-color:#e0e0e0;
	border-top-style:solid;
	margin:0 1% 0 1%;
	border-top-width:thin;
	margin-top:18px;
	padding-top:5px;
    position:relative;
    top:0;
    background:#fff;
}

.postComment {
	float:left;
	border:#e0e0e0;
	border-style:solid;
	border-width:thin;
	font-family:'verb_lightregular';
	font-size:14px;
	font-style:italic;
	color:#575757;
	resize:none;
}

.user {
	position:relative;
	top:2px;
	width:21%;
	margin-right:4%;
}

.comment {
	width:73%;
}

#sectionTopics {
	float:left;
	width:25%;
	background-color:#f0f0f0;
}

#topicInputBar {
	float:left;
	width:94%;
	height:39px;
	padding: 10px 0 11px 6%;
	background-color:#cdcdcd;
}

#topicInput {
	width:90%;
	height:35px;
	color:#cdcdcd;
	font-family:'HattoriHanzoLight';
	font-size:21px;
	font-weight:bold;
    margin: 0;
    padding: 0 0 0 4%;
    line-height: 21px;
}

#topicInputSubmit {
	position:relative;
	left:85%;
	top:-30px;
	width:17px;
	height:16px;
	background:url(/mockup/image/room/plus.png);
	border:none;
	cursor:pointer;
}

#roomTopics {
	float:left;
	border-top:#FFF;
	border-top-width:thick;
	border-top-style:solid;
	float:left;
	width:100%;
}

.roomTopic {
	width:100%;
	float:left;
	border-bottom:#FFF;
	border-bottom-style:solid;
	border-bottom-width:thin;
	color:#c4c4c4;
	font-family:'HattoriHanzoLight';
	font-size:20px;

	cursor:pointer;
	
}

.roomTopicDoubleLine {
	width:85%;
	float:left;
	border-right:#FFF;
	border-right-style:double;
	padding: 10px 0 11px 10%;
}

.roomTopic:hover {
	color:#646464;
}

.topicSelected {
	background:#FFF;
	color:#646464;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background: #fff;
	border: thin;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border: thin;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #666;
}
