<% if flash[:exists] %>
<div class="alert alert-danger">
   <%= flash[:exists] %> 
</div>
<% end %>
<% if flash[:success] %>
<div class="alert alert-info">
   <%= flash[:success] %> 
</div>
<% end %>

<form action="/twitter/quora" method="post" accept-charset="utf-8">
    <textarea name="content" id="content" rows="800" cols="400" style="width: 1200px; height: 500px;"></textarea>
    <p><input type="submit" value="submit" class="btn btn-primary"></p>
</form>
