 <div id="fb-root"></div>
    <script>
      // Additional JS functions here
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '157802721024613', // App ID
          //channelUrl : '//beta.qiscus.com/twitter/test', // Channel File
          channelUrl : '//localhost:3000/twitter/test', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });


        // Additional init code here
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // connected
            console.log(response.authResponse.accessToken);
            retrieveAllFriends(response);
          } else if (response.status === 'not_authorized') {
            // not_authorized
          } else {
            // not_logged_in
          }
         });


      };


      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

       function login() {
            FB.login(function(response) {
                if (response.authResponse) {
                    // connected
                    FB.getLoginStatus();
                } else {
                    // cancelled
                }
            });
        }

        function retrieveAllFriends(response){
                
            myToken = response.authResponse.accessToken;
            $.getJSON("https://graph.facebook.com/me?access_token="+myToken+"&fields=name,id,picture,gender", function(myResponse){
                console.log(myResponse.gender);
                myGender = myResponse.gender;
            });
            $.getJSON("https://graph.facebook.com/me/friends?access_token="+myToken+"&fields=name,id,picture,gender", function(myResponse){
              if (myResponse && myResponse.data){
                console.log(myResponse.data);
                myResponse.data.forEach(function(myobject){
                    console.log(myobject.name)
                    console.log(myobject.gender)
                    console.log(myobject.picture.data.url)
                    if(myobject.gender == myGender){
                        return;
                    }
                    myName = myobject.name.split(" ")[0].substring(0, 7);
                    if(myobject.name.split(" ")[0].length > 7){
                        myName = myName+".."
                    }
                    myPicture = myobject.picture.data.url;
                    var node = document.createElement("div");
                    node.setAttribute("style", "float: left");
                    nodeParent = document.getElementById("allFriends")
                    node.innerHTML = "<div class='span1' onClick='choose(this)' style='width: 120px; height: 120px; cursor: pointer;' ><img src='"+myPicture+"' style='margin: 10px;' /><br/><span style='margin-left: 10px;'>"+myName+"</span></div>"
                    nodeParent.appendChild(node);
                });
                // Handle response
              } else {
                console.log('Something goes wrong', response);
              }
            });
        }


        function choose(e){
            if($(e).css("background-color") == "rgb(190, 190, 190)"){
                $(e).css("background-color", "");
            }else{
                $(e).css("background-color", "#bebebe");
            }
        }

        
        function tryLogin(){
            FB.getLoginStatus(function(response) {
              if (response.status === 'connected') {
                // connected
                retrieveAllFriends(response);
                console.log(response.authResponse.accessToken);
              } else if (response.status === 'not_authorized') {
                // not_authorized
              } else {
                // not_logged_in
                    login();
              }
             });
        }
    </script>

<button onClick="tryLogin()" class="btn btn-primary">Facebook</button>
<br>
<br>
<form action="" method="get" accept-charset="utf-8">
<input type="text" name="q" value="">
<p><input type="submit" value="Search"></p>
</form>

<script type="text/javascript" charset="utf-8">
    $.get("/twitter/index?q=<%= @query %>", function(data){
        results = data['results'];
        for(var r in results){
            node = document.createElement("span")
            node.innerHTML = results[r].text+"<br><br>"
            document.getElementById("allTweets").appendChild(node);
        }
    });
</script>

<div id="allTweets"></div>

<form action="https://api.twitter.com/oauth/request_token" method="post" accept-charset="utf-8">
<input type="text" name="oauth_callback" value="http%3A%2F%2Fbeta.qiscus.com">
<input type="hidden" name="oauth_nonce" value="K7ny27JTpKVsTgdyLdDfmQQWVLERj2zAK5BslRsqyw">
<input type="hidden" name="oauth_signature_method" value="HMAC-SHA1">
<input type="hidden" name="oauth_timestamp" value="1300228849">
<input type="hidden" name="oauth_consumer_key" value="dHxYBBaVb1FKyd2hz2wBQ">
<input type="hidden" name="oauth_signature" value="Pc%2BMLdv028fxCErFyi8KXFM%2BddU%3D">
<input type="hidden" name="oauth_version" value="1.0">

<p><input type="submit" value="Continue &rarr;"></p>
</form>



<div id="allFriends"></div>
