<div class="span12">
<div contenteditable="true" class="hero-unit">
<h1 style="font-size: 40px;">Compiled Notes For <%= @room.name %> </h1>
<br><br>
<% @topic.each do |t| %>
    <% if t.first.title != nil and t.first.description != nil%>
        <h2><%= t.first.title.html_safe %></h2>
        <h3><%= t.first.description.html_safe %></h3><br>
        <% t.last.each do |c| %>
            <% if c[0].message != nil and c[1] != nil %>
                <pre><%= c[0].message.html_safe %> - <%= c[1].gsub("<br>", "").html_safe %><br><br></pre>
            <% end %>
        <% end %>
    <% end %>
    <hr>
<% end %>
</div>

<button class="btn btn-primary" onClick="window.location= '<%= @back %>'">Back</button>
</div>
