<center style="margin-top:100px;">

<h1>Qiscus Translator</h1>
<br><br>
source:
<select name="source" id="source">
    <option value="en">English</option>
    <option value="id">Indonesia</option>
    <option value="fr">French</option>
    <option value="de">German</option>
    <option value="zh-CN">Chinese</option>
</select>
<br><br>
target:
<select name="target" id="target">
    <option value="en">English</option>
    <option value="id">Indonesia</option>
    <option value="fr">French</option>
    <option value="de">German</option>
    <option value="zh-CN">Chinese</option>
</select>
<br><br>
<textarea type="text" name="input" id="input"></textarea>

<br><br>
<button onClick="oksubmit()" class="btn btn-primary">translate</button>

<br><br>
<br><br>
<div id="output">
    output text
</div>

</center>

<script type="text/javascript" charset="utf-8">
function oksubmit(){
    input = $("#input").val();
    source = $("#source").val();
    target = $("#target").val();
    $.get("https://www.googleapis.com/language/translate/v2", {key:'AIzaSyAdY1OOCbrbVYCTbtDzF5X8vYAkMZxLRsQ', q:input, source:source, target: target}, function(data){
        translated = data.data.translations[0].translatedText
        console.log(translated);
        $("#output").html(translated);
    });
}
</script>   
