<link href="/css/icons.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>

<body class="inner profile">
<section id="container">
	<header id="header">
		<div class="wrapper">
			<a href="/" id="logo"></a>
			<a href="/user/logout" class="icon-reply">Logout</a>
		</div>
	</header>
	
	<section id="g-page-container" class="wrapper">
		<aside id="left-sidebar">
			<img src="/images/user.jpg" alt="user-img" class="user-img" />
		</aside>
		
		<section id="g-page-content" class="profile">

                        <% if flash[:error] %>
                        <p style="margin: 10px;"><%= flash[:error] %></p>
                        <% 
                            end
                            if flash[:success]
                        %>
                        <p style="margin: 10px;"><%= flash[:success] %></p>
                        <% end %>


			<form action="/user/edit" method="post" id="profile-form">
				<p class="fields">
					<label>Username :</label>
					<input type="text" name="username" value="<%= @user.username_visual %>" />
				</p>
				
				<p class="fields">
					<label>Email :</label>
					<span style="font-size: 17px;"><%= @user.email %></span>
				</p>
				
				
				<p class="fields">
					<label>Old Psword :</label>
					<input type="password" name="cpassword" value="" autocomplete="off" />
				</p>

				<p class="fields">
					<label>New Psword :</label>
					<input type="password" name="npassword" value=""  autocomplete="off" />
				</p>
				
				<p class="fields">
					<label>Twitter :</label>
					<input type="text" name="twitter" class="short" value="<%= @user.twitter %>" />
				</p>

				<p class="fields">
					<label>Language :</label>
                                        <select name="lang" id="target">
                                            <option value="0">-- Choose Language -- </option>
                                            <option value="en" 
                                            <% if @user.translate == "en" %>
                                            selected="selected"
                                            <% end %> 
                                            >English</option>
                                            <option value="id" 
                                            <% if @user.translate == "id" %>
                                            selected="selected"
                                            <% end %> 
                                            >Indonesia</option>
                                            <option value="fr" 
                                            <% if @user.translate == "fr" %>
                                            selected="selected"
                                            <% end %> 
                                            >French</option>
                                            <option value="de" 
                                            <% if @user.translate == "de" %>
                                            selected="selected"
                                            <% end %> 
                                            >German</option>
                                        </select>
				</p>
			<!--	
				<p class="fields">
					<label>Description :</label>
					<textarea></textarea>
				</p>
                        -->
				<p class="fields">
					<button type="submit">Update</button>
                        <!--
					<button type="reset">Reset</button>
                        -->
				</p>
			</form>
		</section>
		
		<div class="clear"></div>
	</section>
	
</section>

</body>

