<body class="inner">

<section id="container">
	<header id="header">
		
	</header>
        <% if flash[:error] %>
        <div class="alert alert-danger">
            <center>
            <%= flash[:error] %>
            </center>
        </div>
        <% end %>
        <% if flash[:success] %>
        <div class="alert alert-info">
            <center>
            <%= flash[:success] %>
            </center>
        </div>
        <% end %>
	<section id="login">
		<a href="/" id="logo" title="qiscus">qiscus</a>
		<p>Login</p>
		<form method="post" action="/user/forget" id="login-form">
				<label>Email</label>
				<input type="text" name="email" value="" id="username"/>
				<button type="submit">Reset Password</button>
		</form>
	</section>
</section>

<footer id="footer">

</footer>

<script type="text/javascript" charset="utf-8">
    $("#username").focus();
</script>

</body>

