<% if !request.GET['mobile'] and !session[:mobile] %>
<script type="text/javascript" charset="utf-8">
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    if( isMobile.any() ){
        window.location = "?mobile=1";
        return
    }
    if (matchMedia) {
        var mq = window.matchMedia("(max-width: 500px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }
    // media query change
    function WidthChange(mq) {
            if (mq.matches) {
                    //nothing happens
                window.location = "?mobile=1";
            }
            else {
                    //
            }
    }
</script>

<section id="container">
	<section class="wrapper">
		<nav id="landing-nav">
			<a href="/site/room/">Join Discussion</a>
			<a href="/user/login">Log In</a>
		</nav>
		
		<section id="landing">
			<a href="#" id="logo" title="qiscus">qiscus</a>
			<a href="#" class="play"></a>
			<p>You are smart, welcome to Qiscus</p>
		</section>
		
		<section id="register">
			<a href="#" class="register"><strong>Get</strong> An Account</a>
			<form method="post" action="/user/register" id="register-form">
				<h2>Register</h2>
				<p>Create a new account</p>
				<label>Email</label>
				<input type="text" name="username"/>
				
				<label>Password</label>
				<input type="password" name="password" />
				
				<button type="submit">Register</button>
			</form>
		</section>
	</section>
</section>

<footer id="footer">
	<section class="wrapper">
		<ul>
			<li><strong>Qiscus</strong></li>
			<li><a href="#">Learn More</a></li>
			<li><a href="#">Pricing</a></li>
		</ul>
		
		<ul>
			<li><strong>Enterprise</strong></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">Business</a></li>
		</ul>
		
		<ul>
			<li><strong>About Us</strong></li>
			<li><a href="#">press Releases</a></li>
			<li><a href="#">Team</a></li>
		</ul>
	</section>
</footer>

<script>
    if(screen.width < 500){
        window.location = "?mobile=1";
    }
</script>

<% else %>

<% session[:mobile] = 1 %>
    
<center style="margin-top: 10%">
<form action="/site/room" method="post" accept-charset="utf-8">
<input type="text" name="code" placeholder="Room Code">
<p><input type="submit" value="GO" class="btn btn-primary"></p>
</form>
<br><br>
or, <a href="/user/login">Login</a>
</center>

<% end %>
