<% if !request.GET['mobile'] and !session[:mobile] %>
<script type="text/javascript" charset="utf-8">
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    if( isMobile.any() ){
        window.location = "?mobile=1";
        return
    }
    if (matchMedia) {
        var mq = window.matchMedia("(max-width: 500px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }
    // media query change
    function WidthChange(mq) {
            if (mq.matches) {
                    //nothing happens
                window.location = "?mobile=1";
            }
            else {
                    //
            }
    }
</script>

<body class="inner">

<section id="container">
	<header id="header">
		
	</header>
        <% if flash[:error] %>
        <div class="alert alert-danger">
            <center>
            <%= flash[:error] %>
            </center>
        </div>
        <% end %>
        <% if flash[:success] %>
        <div class="alert alert-info">
            <center>
            <%= flash[:success] %>
            </center>
        </div>
        <% end %>
	<section id="login">
		<a href="/" id="logo" title="qiscus">qiscus</a>
		<p>Login</p>
		<form method="post" action="/user/login" id="login-form">
				<label>Email</label>
				<input type="text" name="email" value="" id="username"/>
				<label>Password</label>
				<input type="password" name="password" value="" />
                                <br>
                                <br>
				<button type="submit">Login</button>
		</form>
                <center>
               don't have an account? <a href="/user/register">register here </a> 
                </center>
                <center>
               or forget password? <a href="/user/forget">click here </a> 
                </center>
	</section>
</section>

<footer id="footer">

</footer>

<script type="text/javascript" charset="utf-8">
    $("#username").focus();
</script>

</body>

<script>
    if(screen.width < 500){
        window.location = "?mobile=1";
    }
</script>

<% else %>

<center style="margin-top: 10%">
<form action="/user/login" method="post" accept-charset="utf-8">
<input type="text" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
<p><input type="submit" value="GO" class="btn btn-primary"></p>
</form>
<br><br>
</center>

<% end %>
