
<body class="inner">
    

<section id="container">
	<header id="header">
		
	</header>
        <% if flash[:error] %>
        <div class="alert alert-danger">
            <center>
            <%= flash[:error] %>
            </center>
        </div>
        <% end %>
	<section id="login">
		<a href="/" id="logo" title="qiscus">qiscus</a>
		<p>Register</p>
		<form method="post" action="/user/register" id="login-form">
				<label>Email</label>
				<input type="text" name="username" value="" id="username"/>
				<label>Password</label>
				<input type="password" name="password" value="" />
                                <br>
                                <br>
				<button type="submit">Register</button>
			</form>
	</section>
</section>

<footer id="footer">

</footer>

<script type="text/javascript" charset="utf-8">
    $("#username").focus();
</script>

</body>

