<% if !request.GET['mobile'] and !session[:mobile] %>
<script type="text/javascript" charset="utf-8">
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    if( isMobile.any() ){
        window.location = "?mobile=1";
        return;
    }
    if (matchMedia) {
        var mq = window.matchMedia("(max-width: 500px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }
    // media query change
    function WidthChange(mq) {
            if (mq.matches) {
                    //nothing happens
                window.location = "?mobile=1";
                return;
            }
            else {
                    //
            }
    }
</script>


<link href="/css/icons.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>

<script src="/pusher.min.js" type="text/javascript"></script>
<body class="inner g-page">
<section id="container">
	<header id="header">
		<div class="wrapper">
			<a href="/" id="logo"></a>
			<a href="/user/edit" class=" icon-settings "></a>
                        <span style="float: right; margin-right: 20px; margin-top: 10px;">Hey, <%= @username_visual %></span>
		</div>
	</header>
	
	<section id="g-page-container" class="wrapper">
		<aside id="left-sidebar">
			<nav class="top-nav">
				<a href="/site/room">Go To Existing Room</a>
				<a href="#" id="popup-opener">New Room</a>
			</nav>
			<nav class="bottom-nav">
				<a href="/site/room/fcd">Propose</a>
				<a href="/site/room/d8Q1XO">FAQ</a>
			</nav>
		</aside>
		
		<section id="g-page-content">
			<ul class="messages-list">
                                <% @rooms.each do |room| %>
				<li id='roomid<%= room[1].id %>'>
                                        <% 
                                            @room = CGI.escapeHTML(room[1].name)
                                            if room.last != 0
                                                begin
                                                    @topic_id = room.last.comment.topic.id
                                                rescue

                                                end
                                                @message = CGI.unescapeHTML(room.last.comment.message)
                                                @notyetread = room[2]
                                            end
                                            if @room.length > 65
                                                @room = @room[0..64]+".."
                                            end
                                            @room = @room.html_safe
                                        %>
                                        
                                        <div class="row span8" style="height: 60px; width: 100%;">
                                           <strong class="user" title='<%= @room %>' style='cursor:pointer; width: 100%;'><a onMouseover="showEdit(<%= room[1].id %>)" id="linkid<%= room[1].id %>" href='/site/room/<%= room[1].code_encrypted %>?t=<%= @topic_id %>' style=" text-decoration: none; width: 200px;"> <%= @room %></a> <img src="http://www.google.com/help/hc/images/sites-pencil-icon-small.gif" onClick="editRoom(<%= room[1].id %>)" id="edit<%= room[1].id %>" style="display:none; float:left" /> <span style="font-size: 12px; margin-right: 95px; font-weight:normal; float:right">code: <%= room[1].code %> </span> </strong>
                                        </div>
                                        <a id="linkid<%= room[1].id %>" href='/site/room/<%= room[1].code_encrypted %>?t=<%= @topic_id %>' style=" text-decoration: none;">
                                        <% if room.last != 0 %>
					<pre style="cursor:pointer; margin-left: 50px;"  id='commentid<%= room[1].id %>' ><%= @message %><br><br> <p style="float:right; bottom: 5px;" ></p> </pre>
                                        <% 
                                            @name = room.last.comment.username_as.html_safe
                                            begin
                                                @topic = room.last.comment.topic.title
                                            rescue

                                            end
                                            if @topic != nil and @topic != ''
                                                @topic = @topic.html_safe
                                            end
                                        %>
                                        <% end %>
                                        </a>
                                        

                                        <div style="width: 100%; float: left; ">
                                        <form action="/discussion/compile" method="post" accept-charset="utf-8" style="float: left">
                                        <input type="hidden" name="code" value="<%= room[1].code %>" />
                                        <button type="submit" class="btn btn-danger" style="margin-left: 20px;" value=""><img src="/qiscus_white_icon.png"/></button>
                                        </form>
                                        <span style="float:right;"><i id="usernameid<%= room[1].id %>"><%= @name %></i> in <b id="topicid<%= room[1].id %>"><%= @topic %></b> </span></div>
				</li>
                                        <% if @notyetread == 1 %>


        <script type="text/javascript" charset="utf-8">
            $("#roomid<%= room[1].id %>").css("background-color", "#bbb");
        </script>
                                        <% end %>


                                <% 
                                    @name = nil 
                                    @topic = nil
                                    @topic_id = nil
                                    @message = nil
                                    @notyetread = nil
                                %>
                                <% end %>
				
			</ul>
		</section>
		
		<div class="clear"></div>
	</section>
	
</section>

<div id="modal">
	<span class="logo"></span>
        <span style="float: right; cursor: pointer;" onClick="window.location=''">X</span>
	<h2>Create Room</h2>
	<form method="post" action="/site/roomcreate">
		<label>Name of The Room</label>
		<input type="text" name="name" />
		
		<label>Description</label>
		<input type="text" name="description" />
                
                <br><br>
                <br><br>
                <% if @user_type %>
		<label>Public</label>
                <input type="radio" name="room_type" value="0" checked="true"/>
		<label>Type 1</label>
                <input type="radio" name="room_type" value="1"/>
                <% end %>
		
		<button type="submit">Create</button>
		<div class="clear"></div>
	</form>
	
	<div class="separator"></div>
	
	
</div>
<script type="text/javascript" charset="utf-8">
    
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('d76e1168dfe238ab59ea');


    <% @rooms.each do |room| %>


    var channel = pusher.subscribe('<%= room[1].code_encrypted %>');
    channel.bind('postcomment', function(data) {
        $("#roomid<%= room[1].id %>").css("background-color", "#bbb");
        $("#commentid<%= room[1].id %>").html(data.comment);
        $("#topicid<%= room[1].id %>").html(data.topic_title);
        $("#usernameid<%= room[1].id %>").html(data.username);
        document.getElementById("linkid<%= room[1].id %>").href = "/site/room/"+data.code+"?t="+data.topic_id;
    });


    <% end %>

    function editRoom(num){
       var node = document.getElementById("linkid"+num) 
       node.setAttribute("contenteditable", "true");
       $("#linkid"+num).focus();
       $('#linkid'+num).keypress(function (event){
         if(event.keyCode == 13){
           $("#linkid"+num).blur();
           node.setAttribute("contenteditable", "false");
           return false;
         }
       });
       $("#linkid"+num).blur(function(){
            roomName = $("#linkid"+num).html();
            $.post("/site/changeRoom",{roomName:roomName, roomID: num}); 
           $("#edit"+num).css("display","none");
       });
    }

    function showEdit(num){
        $("#edit"+num).css("display","block");
    }


    if(screen.width < 500){
        window.location = "?mobile=1";
    }

</script>
</body>


<% else %>

<a href="/user/logout">LOGOUT</a> 

<script src="/pusher.min.js" type="text/javascript"></script>
<div id="header" class="alert alert-success">
    <center>
    Qiscus - Mobile
    </center>
</div>
<% @rooms.each do |room| %>


<a href="/site/room/<%= room[1].code_encrypted %>?mobile=1">
<div class='well'>
    <%= room[1].name %>
    <pre>
    <%
      if room.last != 0
          @topic_id = room.last.comment.topic.id
          @message = CGI.unescapeHTML(room.last.comment.message)
          @notyetread = room[2]
      end
    %>
    <%= @message %>
    </pre>
</div>
</a>

<% end %>

<div class="span12 row">
    <form action="/site/room" method="post" accept-charset="utf-8">
    <input type="text" name="code" placeholder="Room Code" class="span3">
    <input type="submit" value="Go" class="btn btn-primary" style="margin-top: -10px;">
    </form>
</div>

<script type="text/javascript" charset="utf-8">
    
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    WEB_SOCKET_DEBUG = true;
    var pusher = new Pusher('d76e1168dfe238ab59ea');

    <% @rooms.each do |room| %>

        var channel = pusher.subscribe('<%= room[1].code_encrypted %>');
        channel.bind('postcomment', function(data) {
            $("#roomid<%= room[1].id %>").css("background-color", "#bbb");
            $("#commentid<%= room[1].id %>").html(data.comment);
            $("#topicid<%= room[1].id %>").html(data.topic_title);
            $("#usernameid<%= room[1].id %>").html(data.username);
            document.getElementById("linkid<%= room[1].id %>").href = "/site/room/"+data.code+"?t="+data.topic_id;
        });


    <% end %>


</script>
</body>


<% end %>

