<center style="margin-top: 10%">
<form action="/site/newtopic" method="post" accept-charset="utf-8">
<input type="text" name="title" placeholder="Title" autocomplete="off">
<input type="text" name="description" placeholder="Description">
<input type="hidden" name="code" value="<%= @code %>">
<input type="hidden" name="back" value="<%= @back %>">
<p><input type="submit" value="GO" class="btn btn-primary"></p>
</form>
<br><br>
</center>

