send new comment:

<br><br>


<form action="" method="post" accept-charset="utf-8">
<input type="text" name="username" placeholder="username">
<select name="topic_id" id="topic_id">
<% if @topics %>
    <% @topics.each do |t| %>
        <option value="<%= t.id %>"><%= t.title %></option>
    <% end %>
<% end %>
</select>
<textarea name="comment" ></textarea>
<p><input type="submit" value="Submit"></p>
</form>

<hr>





