<% if flash[:error] %>
<div class="alert">
    <%= flash[:error] %>
</div>
<% end %>
<br>
<div>
<form action="" method="post" accept-charset="utf-8">
<input type="text" name="code" placeholder="enter code">
<p><input type="submit" value="Submit" class="btn btn-primary"></p>
</form>
