<body class="inner">
    

<section id="container">
	<header id="header">
		
	</header>
	<section id="login">
		<a href="/" id="logo" title="qiscus">qiscus</a>
		<p>You can join discussion by input the secret code</p>
		<form method="post" action="" id="login-form">
				<label>Code</label>
				<input type="text" name="code" value="" class="code"/>
				<button type="submit">GO</button>
			</form>
	</section>
</section>

<footer id="footer">

</footer>

<script type="text/javascript" charset="utf-8">
    $(".code").focus();
</script>

</body>

