<!DOCTYPE html>
<html>
<head>
  <title>Qiscus | Discussion Platform</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


    <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
<% if !request.GET['mobile'] and !session[:mobile] %>
    <link media="" href="/css/main.css" rel="stylesheet" type="text/css" />
<% end %>

    <script type="text/javascript" src="/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <% if @help %>
  <script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'http://cdn.walkme.com/users/9c299fc3723f45809cfba4cef2ebde75/walkme_9c299fc3723f45809cfba4cef2ebde75.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s);})();</script>
  <% end %>
</head>
<body>
<% if @notverified and !flash[:verifysent] and cookies[:username] != 'guest' %>
<div class="alert alert-danger" style="top: 85px; z-index: 1000; position:fixed; width: 100%">
   <center>
        you need to verify your email to activate this account and get notified. If you haven't got verification email, click <a href="/verification_send">here</a>
   </center>
</div>
<% end %>


<% if flash[:verifysent] %>
<div class="alert alert-info">
   <center>
        we just sent the verification email to you
   </center>
</div>
<% end %>


    <%= yield %>



    <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-38202290-1']);
     _gaq.push(['_setDomainName', 'qiscus.com']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>

</body>
</html>




