<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>QiscusRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="http://dev.evnpr.letspan.com/mobile/scrollbar.css">

<script type="application/javascript" src="http://dev.evnpr.letspan.com/mobile/iscroll.js"></script>
<script type="text/javascript">


<style type="text/css" media="all">
</style>
</head>
<body>
            <%= yield %>

</body>
</html>

